<ion-header>

  <ion-navbar text-center color="back">

    <ion-title>User Registration</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>

    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>

  </ion-item>

  <ion-item>

    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>

  </ion-item>

  <ion-item>

    <ion-label floating>Verify Password</ion-label>
    <ion-input type="password" [(ngModel)]="verifypw"></ion-input>

  </ion-item>

  <br><br>
  <div *ngIf="password != ''">

    <div *ngIf="pwsMatch();else no_match" text-center>
      Your passwords match
    </div>
    <ng-template #no_match>
      <div class="danger" text-center>
        Your passwords do not match
      </div>
    </ng-template>

  </div>

  <div text-center>

    <button ion-button large round (click)="doRegister()">Register New User</button>

  </div>

</ion-content>