<!--Inspiration and assitance from tutorial at
  https://angularfirebase.com/lessons/firebase-storage-with-angularfire-dropzone-file-uploader/
-->
<div class="dropzone">

  <h3>File Upload</h3><br>
  <div class="file">
    <label class="file-label">
      <input class="file-input" type="file" (change)="startUpload($event.target.files)">
    </label>
  </div>
</div>


<ion-item>
  <ion-label color="primary" floating>Caption for file...</ion-label>
  <ion-input [(ngModel)]="caption"></ion-input>
</ion-item>

<div *ngIf="percentage | async as pct">

  <progress class="progress is-info" [value]="pct" max="100">
  </progress>

  {{ pct | number }}%

</div>


<div *ngIf="snapshot | async as snap">
  {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}

  <div *ngIf="downloadURL | async as url">
    <br>
    <h3>Upload completed!</h3>
    <a [href]="url" target="_blank" rel="noopener">Download file</a>
  </div>

  <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
  <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
  <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>

</div>