<ion-header>

  <ion-navbar text-center color="back">

    <button ion-button menuToggle icon-only class="menubtn">
      <ion-icon name='menu'></ion-icon>
    </button>

    <ion-title>Welcome</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Display welcome header when the app doc is retrieved -->
  <h3 *ngIf="db.appDoc" class="myHeading">
    {{db.appDoc['welcome_title']}}
  </h3>
  <div class="spacer" style="height:10%"></div>

  <!-- Slides to display the featured gallery pics -->
  <ion-slides style="height: 40%" pager="true">
    <!-- Loop through all featured gallery pics -->
    <ion-slide *ngFor="let image of db.gallery_featured">
      <img src="{{image['link']}}">
    </ion-slide>
  </ion-slides>
  <div class="spacer" style="height:10%"></div>

  <!-- Display welcome message when the app doc is retrieved -->
  <div *ngIf="db.appDoc" class="myMessage">
    {{db.appDoc['welcome_message']}}
  </div>

</ion-content>