
page-welcome {

    .myHeading{
        font-weight: 600;
        font-style: italic;
        text-align: center;
    }

    .myMessage{
        font-size: 14px;
        text-align: center;
    }

    //This keeps slide images sized appropriately
	.slide-zoom {
		height: 100%;
	}
    //Recolor the dots on the slider pager
    .swiper-pagination-bullet {
        background: color($colors, primary);
        opacity: 0.5;
    }   
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: color($colors, secondary);
    }

}
