page-find {

    .text_format {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
    }

    .map_format {
        text-align: center;
        width: 100%;
        height: 65%;
    }

}
