<ion-menu [content]="content">

    <ion-buttons right>

        <button ion-button menuToggle icon-only small clear>
            <ion-icon name='close-circle'></ion-icon>
        </button>

    </ion-buttons>

    <ion-buttons>

        <button ion-button large block (click)="registerClicked()" *ngIf="auth.user == null">Register</button>
        <button ion-button large block (click)="loginClicked()" *ngIf="auth.user == null">Sign In</button>
        <button ion-button large block (click)="logoutClicked()" *ngIf="auth.user != null">Sign Out</button>
        <button ion-button large block (click)="galleryClicked()">Gallery</button>
        <button ion-button large block (click)="recordingsClicked()">Recordings</button>
        <button ion-button large block (click)="usersClicked()">Users</button>

    </ion-buttons>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>